/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
@media (min-width: 400px) {
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 480px) {
  .step-box {
    padding: rem(45px 55px 35px);
    .num {
      font-size: rem(106px);
      flex: 0 0 27%;
    }
  }
  .btn-info {
    font-size: rem(23px);
    line-height: rem(35px);
    height: rem(66px);
    span {
      font-size: rem(28px);
    }
  }
}
/* Larger than tablet */
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .ta-md-right {
    text-align: right;
  }
  .my-40 {
    padding-top: rem(40px);
    padding-bottom: rem(40px);
  }
  .py-70 {
    padding-top: rem(70px);
    padding-bottom: rem(70px);
  }
  h1 {
    font-size: vw(81px);
  }
  h2 {
    font-size: rem(41px);
  }
  h3 {
    font-size: rem(27px);
  }
  .site-header {
    .col-logo {
      margin-left: 33.33333333%;
    }
    .col-logo, .col-btn {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  }
  .main-banner {
    .badge {
      margin-bottom: rem(30px);
    }
    .h2 {
      margin-bottom: rem(30px);
      font-size: rem(33px);
    }
    .h1 {
      margin-bottom: rem(45px);
    }
  }
  .secrets {
    .section-title {
      margin-bottom: 5rem;
    }
  }
  .event-box {
    .col-md-6:first-child {
      width: 45%;
    }
    .col-md-6:last-child {
      width: 55%;
    }
  }
  .bottom-cta {
    min-height: rem(780px);
    h3 {
      font-size: rem(33px);
    }
  }
}
/* Larger than desktop */
@media (min-width: 992px) {
  html {
    font-size: 17px;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .section-title {
    margin-bottom: 4rem;
  }
  .white-box {
    padding: rem(80px 50px 40px);
  }
  .step-box {
    &.second {
      .bottom {
        margin-left: 12%;
      }
    }
    .top {
      min-height: rem(121.5px);
    }
  }
}
/* Larger than Desktop HD */
@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
  .why-attend,
  .event-details {
    padding-bottom: rem(130px);
    padding-top: rem(85px);
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 19px;
  }
  .container,
  .container-lg {
    --bs-gutter-x: 1.5rem;
  }
  .container {
    max-width: 1307px;
  }
  .container-lg {
    max-width: 1615px;
  }
}
@media (max-width: 767px) {
  .site-header .col-logo {
    margin-bottom: 1rem;
  }
  .sm-hide {
    display: none;
  }
  .secrets {
    text-align: center;
    .col-md-6 > div {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .site-footer {
    .row {
      flex-direction: column;
    }
    .copyright {
      margin: 1rem 0;
      text-align: center;
    }
    ul a {
      font-size: 30px;
    }
  }
}
@media (max-width: 479px) {
  .buy-ticket {
    border-radius: 5px;
    .inner {
      flex-direction: column;
      strong {
        margin-bottom: .5rem;
      }
    }
  }
}
