/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
@media (min-width: 400px) {
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}
/* Larger than tablet */
@media (min-width: 768px) {
  h1 {
    font-size: vw(81px);
  }
  h2 {
    font-size: rem(41px);
  }
  h3 {
    font-size: rem(27px);
  }
  h4 {
    font-size: 3.0rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
  .site-header {
    .col-logo {
      margin-left: 33.33333333%;
    }
    .col-logo, .col-btn {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  }
  .main-banner {
    .badge {
      margin-bottom: rem(30px);
    }
    .h2 {
      margin-bottom: rem(30px);
      font-size: rem(33px);
    }
    .h1 {
      margin-bottom: rem(45px);
    }
  }
}
/* Larger than desktop */
@media (min-width: 992px) {
  html {
    font-size: 17px;
  }
}
/* Larger than Desktop HD */
@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 19px;
  }
  .container,
  .container-lg {
    --bs-gutter-x: 1.5rem;
  }
  .container {
    max-width: 1307px;
  }
  .container-lg {
    max-width: 80%;
  }
}
@media (max-width: 767px) {
  .site-header .col-logo {
    margin-bottom: 1rem;
  }
}
@media (max-width: 479px) {
  .buy-ticket {
    border-radius: 1rem;
    .inner {
      flex-direction: column;
      strong {
        margin-bottom: .5rem;
      }
    }
  }
}
