.text-center {
  text-align: center;
}
/*Header*/
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  .row {
    align-items: center;
  }
  .logo {
    img {
      width: rem(253px);
      height: auto;
    }
  }
}
/* Main Banner */
.main-banner {
  background: $blue url("../img/main-banner-bg.jpg") 50% / cover no-repeat;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  .h1 {
    text-transform: uppercase;
    span {
      color: $cyan;
    }
  }
  .badge {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: rem(18px);
    border: 1px solid white;
    border-radius: rem(10px);
    padding: rem(6px 17px);
  }
}
.buy-ticket {
  display: inline-block;
  background-color: $cyan;
  padding: rem(12px);
  border-radius: rem(37px);
  .inner {
    display: flex;
    align-items: center;
  }
  strong {
    margin: 0 20px;
    color: #fff;
  }
}
/* Content section */
.section-title {
  text-align: center;
  color: $dark-blue;
  position: relative;
  margin-bottom: 3rem;
  &:after {
    content: '';
    display: inline-block;
    width: rem(80px);
    height: rem(5px);
    position: absolute;
    left: 50%;
    bottom: rem(-25px);
    transform: translateX(-50%);
    background-color: $cyan;
  }
}
.register-now {
  display: inline-block;
  margin-left: auto;
  position: relative;
  .inner {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    min-width: 18rem;
  }
  .date {
    font-weight: 900;
    font-size: rem(56px);
    line-height: 1;
    margin-bottom: .6rem;
  }
  .month {
    display: inline-block;
    font-size: rem(27px);
    line-height: 1;
    font-weight: 900;
    border-bottom: 1px solid #fff;
    padding: 0 1rem 1rem;
    margin-bottom: .7rem;
  }
  a {
    color: $cyan;
    font-size: rem(26px);
    line-height: 1;
  }
}
/* speakers */
.speaker {
  width: 288px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #11699c;
  margin-bottom: 1rem;
  .content {
    padding: .5rem 1rem 1rem;
    font-weight: 300;
    font-size: rem(16px);
  }
  .announced {
    min-height: rem(117px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .name {
    font-size: rem(20px);
    margin: 0;
  }
  .social {
    list-style: none;
    margin: 0;
    font-size: rem(20px);
    li {
      display: inline-block;
      margin: 0;
      margin-left: 5px;
    }
    a {
      color: #fff;
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .3rem;
  }
}
.why-attend {
  background: rgb(9, 83, 132);
  background: radial-gradient(circle, rgba(9, 83, 132, 1) 0%, rgba(22, 42, 96, 1) 100%);
  color: #fff;
  .section-title {
    color: #fff;
  }
}
.secrets {
  .styled {
    max-width: 26rem;
    margin-bottom: 3rem;
  }
}
ul.styled {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding-left: rem(50px);
    background: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M15.4142 4.41421L6 13.8284L0.585785 8.41421L3.41421 5.58578L6 8.17157L12.5858 1.58578L15.4142 4.41421Z' fill='%2300c4e1' fill-rule='evenodd'/%3E%3C/svg%3E") top left / 1.7rem no-repeat;
    margin-bottom: 1.5rem;
    font-weight: 300;
    color: #1e344d;
    font-weight: 900;
    line-height: 1.2;
    font-size: rem(22px);
    text-align: left;
  }
}
.white-box {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: rem(50px 20px 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  img {
    width: rem(122px);
    margin-bottom: 3rem;
  }
  p {
    color: #1e344d;
    font-size: rem(26px);
    line-height: 1.23;
    strong {
      font-weight: 900;
      color: $cyan;
    }
  }
}
.step-box {
  border: 2px dashed white;
  border-radius: 5px;
  padding: rem(30px 30px 35px);
  display: flex;
  flex-direction: column;
  height: 100%;
  .top {
    margin-bottom: 1rem;
  }
  .bottom {
    display: flex;
  }
  .num {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    flex: 0 0 18%;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding-left: rem(45px);
      background: url("data:image/svg+xml,%3Csvg height='32' id='check' viewBox='0 0 32 32' width='32' xmlns='http://www.w3.org/2000/svg' fill='%2300c4e1'%3E%3Cpath d='M1 14 L5 10 L13 18 L27 4 L31 8 L13 26 z'/%3E%3C/svg%3E") center left / 1.5rem no-repeat;
      margin-bottom: .5rem;
      font-weight: 300;
    }
  }
}
.event-details {
  background: url(../img/event-details.jpg) center top / cover no-repeat;
}
.event-box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.11);
  padding: rem(45px);
  max-width: rem(935px);
  margin: 0 auto;
  text-align: center;
  h3 {
    color: #1e344d;
    font-size: rem(26px);
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: .7rem;
    margin-bottom: .7rem;
  }
  h4 {
    color: #1e344d;
    font-size: rem(16px);
    .icon {
      font-size: 1.2rem;
      position: relative;
      bottom: -6px;
    }
  }
  .btn-info {
    font-size: rem(20px);
    display: inline-flex;
    align-items: center;
    text-align: center;
    line-height: rem(30px);
    height: rem(66px);
    span {
      font-size: rem(28px);
      padding-right: 15px;
      margin-right: 15px;
      border-right: 1px solid #fff;
    }
  }
  .event-content {
    margin: 0 auto;
    max-width: 438px;
  }
  .includes {
    text-align: left;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding-left: rem(45px);
      background: url("data:image/svg+xml,%3Csvg height='32' id='check' viewBox='0 0 32 32' width='32' xmlns='http://www.w3.org/2000/svg' fill='%2300f1fb'%3E%3Cpath d='M1 14 L5 10 L13 18 L27 4 L31 8 L13 26 z'/%3E%3C/svg%3E") left 0 / 1.5rem no-repeat;
      margin-bottom: .5rem;
      font-weight: 300;
      font-size: rem(18px);
    }
  }
}
.bottom-cta {
  text-align: center;
  color: #fff;
  min-height: 30rem;
  display: flex;
  align-items: center;
  background: url(../img/bottom-cta.jpg) 50% / cover no-repeat;
  img {
    width: rem(155px);
  }
  h2 {
    text-transform: uppercase;
  }
}
.site-footer {
  background-color: #13376c;
  color: #fff;
  padding: 1.5rem 0;
  .logo {
    display: inline-block;
    width: rem(126px);
  }
  .row {
    align-items: center;
    justify-content: space-between;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0;
      display: inline-block;
      margin-left: 10px;
    }
    a {
      color: #fff;
      &:hover {
        opacity: .7;
      }
    }
  }
  .copyright {
    font-size: rem(16px);
  }
}