.text-center {
  text-align: center;
}
/*Header*/
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  .row {
    align-items: center;
  }
  .logo {
    img {
      width: rem(253px);
      height: auto;
    }
  }
}
/* Main Banner */
.main-banner {
  background: $blue url("../img/main-banner-bg.jpg") 50% / cover no-repeat;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  .h1 {
    text-transform: uppercase;
    span {
      color: $cyan;
    }
  }
  .badge {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: rem(18px);
    border: 1px solid white;
    border-radius: rem(10px);
    padding: rem(6px 17px);
  }
}
.buy-ticket {
  display: inline-block;
  background-color: $cyan;
  padding: rem(12px);
  border-radius: rem(37px);
  .inner {
    display: flex;
    align-items: center;
  }
  strong {
    margin: 0 20px;
    color: #fff;
  }
}
/* Content section */
.section-title {
  text-align: center;
  color: $dark-blue;
  position: relative;
  margin-bottom: 3rem;
  &:after {
    content: '';
    display: inline-block;
    width: rem(80px);
    height: rem(5px);
    position: absolute;
    left: 50%;
    bottom: rem(-25px);
    transform: translateX(-50%);
    background-color: $cyan;
  }
}
.register-now {
  display: inline-block;
  margin-left: auto;
  position: relative;
  margin-top: 2rem;
  .inner {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  .date {
    font-weight: 900;
    font-size: rem(135px);
    line-height: 1;
  }
  .month {
    font-size: rem(27px);
    line-height: 1;
    font-weight: 900;
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
    margin-bottom: .7rem;
  }
  a {
    color: $cyan;
    font-size: rem(26px);
    line-height: 1;
  }
}